# Virtual Environments (Matches anywhere in the repository)
.venv/
**/__pycache__/
*.pyc

# Data and Datasets
data/
**/data/
research/data/

# Databases & Vector Stores
*.db
*.sqlite
**/database/telemetry.db
**/chroma_storage/

# Environment and System
.env
.ipynb_checkpoints/