# Data and Datasets
data/
research/data/

# Databases & Vector Stores
*.db
*.sqlite
database/telemetry.db
chroma_storage/

# Environment and System
.env
__pycache__/
*.pyc
.ipynb_checkpoints/

.DS_Store